<div class="wrapper">
  <div class="section-right">
    <h1> <strong>Bienvenido a EasyShop</strong></h1>
    <p>Esta aplicación web está diseñada para la <br>
       visualización de una compra y venta <br>
       de productos para una comunidad <br>
       universitaria</p>
    <button><a class="dropdown-item" href="login">Iniciar sesión</a></button>
    <p>¿No tienes cuenta?, <a  href="registros">Registrate</a></p>
  </div>

  <div class="section-left">
      <img src="/assets/images/Buap.png" class="logo-buap">
  </div>
    
  </div>