<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Cuando la página se hace muy pequeña, aparece el botón. -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ng-container *ngIf="tipo!='registros'; else registraUsers">
            <!-- 1Todo el menú de los usuarios -->
            <li class="nav-item">
              <a class="nav-link" *ngIf="rol!='cliente' && rol!='administrador' && rol!='vendedor'" id="principal" aria-current="page" (click)="clickNavLink('')">Inicio</a>
            </li>
            <li class="nav-item" *ngIf="rol!='administrador' && rol!='vendedor' && rol!='cliente' && token">
              <a class="nav-link" id="cliente" aria-current="page" (click)="clickNavLink('clientes')">Clientes</a>
            </li>
            <li class="nav-item" *ngIf="rol!='administrador' && rol!='vendedor' && rol!='cliente' && token">
              <a class="nav-link" id="vendedor" (click)="clickNavLink('vendedores')">Vendedores</a>
            </li>
            <li class="nav-item" *ngIf="token">
              <a class="nav-link" (click)="clickNavLink('home')"><mat-icon>home</mat-icon></a>
            </li>
            <li class="nav-item"  *ngIf="rol==='administrador'">
              <a class="nav-link" id="admAdministradores" (click)="clickNavLink('adm-administradores')">Administrar Administradores</a>
            </li>
            <li class="nav-item" *ngIf="rol==='administrador'">
              <a class="nav-link" id="admClientes" (click)="clickNavLink('adm-clientes')">Administrar Clientes</a>
            </li>
            <li class="nav-item"  *ngIf="rol==='administrador'">
              <a class="nav-link" id="admVendedores" (click)="clickNavLink('adm-vendedores')">Administrar Vendedores</a>
            </li>
            <li class="nav-item"  *ngIf="rol==='administrador'">
              <a class="nav-link" id="admProductos" (click)="clickNavLink('adm-productos')">Administrar Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="productos" (click)="clickNavLink('productos')">Productos</a>
            </li>
            <li class="nav-item" *ngIf="token">
              <a class="nav-link" (click)="logout()" (click)="limpia_localStorage()">Cerrar Sesión</a>
            </li>
             
          </ng-container>
          <ng-template #registraUsers>
            <label class="navbar-brand" href="#">Registro de usuarios del sistema</label>
          </ng-template>
        </ul>
        <form class="d-flex">
          <div class="dropdown">
            <button *ngIf="!token" class="btn dropdown-toggle" type="button" aria-expanded="false" (click)="registros()">
              Registrarse
            </button>
            <button *ngIf="token && rol=='administrador'" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" 
            aria-expanded="false" (click)="registros()" (click)="limpia_localStorage()">
              Registrar Administrador
            </button>
            
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>

