<section class="bienvenida">
  <div class="contenido-bienvenida" *ngIf="vendedor?.user?.first_name">
    <h1>Hola {{vendedor.user?.first_name}}.</h1>

    <p>
      Esta es la bienvenida a tu pagina de vendedor, aqui podras <br>
      agregar tus productos como editarlos y editar tu perfil en la<br>
      barra de navegación podras ver tus opciones en la parte de <br>
      tus productos tendras mas opciones, como puntos de <br>
      entrega, agregar, editar o eliminar.

      <img *ngIf="vendedor.user.foto" [src]="vendedor.user.foto" alt="Foto del vendedor">
    </p>

    <button mat-button mat-flat-button color="primary" (click)="registrar_producto()">
      Agregar Producto
    </button>
  
  </div>
</section>

