<section class="bienvenida">
  <div class="toggle-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon style="color: black;">account_circle</mat-icon> 
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editarPerfil(vendedor.user.id)">Editar perfil</button>
    </mat-menu>
  </div>
  
  <div class="contenido-bienvenida" *ngIf="vendedor?.user?.first_name">
    <h1>Hola {{vendedor.user?.first_name}} {{vendedor.user?.last_name}}</h1>
    <p>
      Esta es la bienvenida a tu página de vendedor, aquí podrás <br>
      agregar tus productos, así como editarlos y editar tu perfil. En la<br>
      barra de navegación podrás ver tus opciones. En la parte de <br>
      tus productos tendrás más opciones, como puntos de <br>
      entrega, agregar, editar o eliminar.
    </p>
    
    <button mat-button mat-flat-button color="primary" (click)="registrar_producto()" class="add-product-button">
      Agregar Producto
      <mat-icon >arrow_forward</mat-icon>
    </button>
  </div>
</section>
