/* Estilo de la galería de productos */
.product-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 productos por fila */
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 20px;
    padding: 0 10px; /* Para evitar que se toquen los bordes */
  }
  
  /* Cada item de producto ocupa el mismo tamaño */
  .product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px; /* Para asegurarse de que ocupa el ancho completo disponible */
    //height: 500px; /* Altura fija para la tarjeta */
    text-align: center;
    overflow: hidden;
  }
  
  /* Encabezado con el nombre del producto y precio */
  .card-header {
    background-color: #3b82f6;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  
  .card-header .mat-card-title {
    font-size: 1.5rem;
    color: white;
  }
  
  .card-header .price {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
  }
  
  /* Imagen del producto */
  .product-image {
    width: auto;
    height: 300px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen ocupe el área sin deformarse */
    border-radius: 10px;
    margin-top: 10px;
  }
  
  /* Detalles del producto */
  .card-content {
    padding: 10px;
    flex-grow: 1;
    max-height: calc(100% - 180px); /* Limita la altura de este área para evitar que las entregas afecten la tarjeta */
  }
  
  .card-content h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  /* Estilo para los chips (entregas) */
  .chip {
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  /* Divider */
  mat-divider {
    margin-top: 20px;
  }
  
  /* Estilo de las acciones (botones) */
  .card-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
  }
  
  .card-actions button {
    font-size: 1rem;
    padding: 8px 15px;
  }
  
  .card-actions .spacer {
    flex-grow: 1;
  }
  
  .mat-button {
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .mat-button:hover {
    background-color: #3b82f6;
    color: white;
  }
  
  .mat-icon {
    margin-right: 5px;
  }
  
  /* Media Queries para hacer la galería responsiva */
  @media (width: 900px) {
    .product-gallery {
      grid-template-columns: repeat(3, 1fr); /* 3 productos por fila en pantallas medianas */
    }
  }
  
  @media (max-width: 900px) {
    .product-gallery {
      grid-template-columns: repeat(2, 1fr); /* 2 productos por fila en pantallas más pequeñas */
    }
  }
  
  @media (max-width: 600px) {
    .product-gallery {
      grid-template-columns: repeat(1, 1fr); /* 1 producto por fila en dispositivos pequeños */
    }
  }
  