<mat-card class="fondo">
  <mat-card-header class="dividir">
    <mat-card-title>{{ producto.nombre }}</mat-card-title>
    <mat-card-subtitle style="font-size: 20px; color: white;"> Precio: ${{ producto.precio }} MXN</mat-card-subtitle>
  </mat-card-header>
  
  <img class="img" [src]="previewUrl" alt="Imagen del producto" />
  
  <mat-card-content class="mt-2">
    <h2>Entregas: </h2>
    <p class="dividir">
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of producto.entregas.split(',') | slice:0:3">{{ name }}</mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>
  
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button mat-raised color="primary" (click)="goEditar(producto.id)">
      <mat-icon>edit</mat-icon> Editar
    </button>
    
    <span class="spacer"></span>
    
    <button mat-button mat-raised>
      <mat-icon>more_horiz</mat-icon> Más
    </button>
  </mat-card-actions>
</mat-card>
