<div class="body-alumnos">
  <div class="container mt-5 mb-5">
    <h1 class="todo">Easy Shop</h1>
    <h2 class="subheading">Explora nuestra variedad de productos</h2>
    <div class="product-gallery" *ngIf="lista_productos.length > 0">
      <div class="product-item" *ngFor="let producto of lista_productos">
        <mat-card class="product-card">
          <img mat-card-image [src]="producto.foto" alt="Imagen del producto" class="product-image" />
          <mat-card-content>
            <h3 class="product-title">{{ producto.nombre }}</h3>
            <p class="product-price">${{ producto.precio }} MXN</p>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="token && rol=='vendedor' || rol=='administrador'" mat-button class="edit-button" (click)="goEditar(producto.id)">
              <mat-icon>edit</mat-icon> Editar
            </button>
            <button mat-button class="view-button" (click)="verProducto(producto.id)">
              <mat-icon>visibility</mat-icon> Ver más
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
