<div *ngIf="producto;" class="grid p-2">
    <mat-card class="col-12">
        <h1>Easy Shop </h1>
    </mat-card>
    <mat-card class="col-6 sm:col-3">
        <mat-card-header>
            <mat-card-title><h1>{{producto.nombre}}</h1></mat-card-title>
        </mat-card-header>

        <img [src]="producto.foto" mat-card-image>
    </mat-card>

    <mat-card class="col-6 sm:col-3">
        <mat-card-header>
            <mat-card-title>Información</mat-card-title>
            <mat-card-subtitle>{{producto.nombre}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>Id del Producto: {{producto.id}}</mat-list-item>
                <mat-list-item>Precio: {{producto.precio}} MXN</mat-list-item>
                <mat-list-item>Descripción: {{producto.descripcion}}</mat-list-item>
                <mat-list-item>Cantidad disponible: {{producto.cantidad}}</mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-content class="mt-2">
            <h2>Lugar de entregas: </h2>
            <p class="dividir">
                <mat-chip-listbox>
                <mat-chip *ngFor="let name of producto.entregas.split(',') | slice:0:3">{{ name }}</mat-chip>
                </mat-chip-listbox>
            <button mat-button color="warn" (click)="regresar()">Regresar</button>
            </mat-card-content>

    </mat-card>

</div>
