<div class="wrapper">
    <div class="section-registro">
      <div class="body-registro">
        <h1 class="title-user">Ingresa los datos del vendedor</h1>
        
        <div class="two-column-layout">
          <div class="section-left">
            <div class="profile-picture-section">
                <h2 class="title-materias">Foto de perfil</h2>
                <img [src]="previewUrl" alt="Previsualización de la imagen" class="profile-picture-preview" alt="Foto de perfil">
             </div>
              <input [(ngModel)]="vendedor.foto" type="file" (change)="onFileSelected($event)" accept="image/*" id="file-input" style="display: none;">
              <button class="btn-primary" type="button" (click)="insertPhoto()">Añadir foto de perfil</button>
          </div>
          
          <div class="section-right">
            <div class="form-fields-section">
              <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="vendedor.first_name" placeholder="Escribe tu nombre">
              </mat-form-field>
              <div *ngIf="errors.first_name" class="invalid-feedback">{{ errors.first_name }}</div>
  
              <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="vendedor.last_name" placeholder="Escribe tus apellidos">
              </mat-form-field>
              <div *ngIf="errors.last_name" class="invalid-feedback">{{ errors.last_name }}</div>
  
              <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput [(ngModel)]="vendedor.email" placeholder="Escribe correo electrónico" [disabled]="editar">
              </mat-form-field>
              <div *ngIf="errors.email" class="invalid-feedback">{{ errors.email }}</div>
  
              <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Edad</mat-label>
                <input matInput [(ngModel)]="vendedor.edad" mask='00' placeholder="Escribe edad">
              </mat-form-field>
              <div *ngIf="errors.edad" class="invalid-feedback">{{ errors.edad }}</div>
              <mat-form-field class="mat-input" appearance="outline">

                <mat-label>Teléfono</mat-label>
                <input matInput [(ngModel)]="vendedor.telefono" mask='(000) 000-0000' placeholder="Escribe teléfono">
              </mat-form-field>
              <div *ngIf="errors.telefono" class="invalid-feedback">{{ errors.telefono }}</div>
  
              <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                <mat-label>Contraseña</mat-label>
                <input matInput [(ngModel)]="vendedor.password" [type]="inputType_1" placeholder="Escribe contraseña">
                <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
  
              <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput [(ngModel)]="vendedor.confirmar_password" [type]="inputType_2" placeholder="Confirma la contraseña">
                <mat-icon matSuffix class="eye-icon" (click)="showPwdConfirmar()">{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div *ngIf="errors.confirmar_password" class="invalid-feedback">{{ errors.confirmar_password }}</div>
            </div>
          </div>
        </div>
        
        <div class="section-buttons">
          <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
          <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
          <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>