
  <div class="section-home">
    <app-navbar></app-navbar>
    <div class="body-home">
      <!-- Home para el admin -->
      <section class="home-admin" *ngIf="rol === 'administrador'">
        <app-admin-screen></app-admin-screen>
      </section>
      <section class="home-vendedor" *ngIf="rol === 'vendedor'">
        <app-clientes-screen></app-clientes-screen>
      </section>
      <section class="home-cliente" *ngIf="rol === 'cliente'">
        <app-vendedores-screen></app-vendedores-screen>
      </section>
      
      <section class="bienvenida" *ngIf="rol === ''">
        <app-bienvenida></app-bienvenida>
      </section>
    </div>
  </div>