<div class="wrapper">
  <div class="section-registro">
    <div class="header-registro">
      <!-- Inyectamos el componente navbar -->
      <app-navbar [tipo]="tipo"></app-navbar>
    </div>
    <div class="body-registro">
      <!-- Radio buttons -->
      <section class="rol-user">
        <div class="container">
          <div class="row mt-5" style="text-align: center;">
            <div class="form-group col-12">
              <label class="title-user" for="tipo_usuario">Tipo de usuario</label>
            </div>
          </div>
          <div class="row mt-3" style="text-align: center;">
            <div class="form-group col-12">
              <mat-radio-group [(ngModel)]="user.tipo_usuario" (change)="radioChange($event)" [disabled]="editar">
                <mat-radio-button value="administrador" *ngIf="token">Administrador</mat-radio-button>
                <mat-radio-button value="cliente">Cliente</mat-radio-button>
                <mat-radio-button value="vendedor">Vendedor</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </section>
      <!-- Formularios -->
      <section class="forms-registro" >
        <!-- Formulario del admin -->
        <section class="registrar-admin" *ngIf="isAdmin && rol=='administrador'" >
          <app-registrar-admin [rol]="tipo_user" [datos_user]="user"></app-registrar-admin>
        </section>
        <!-- Formulario del Cliente -->
        <section class="registro-alumnos" *ngIf="isCliente">
          <app-registrar-cliente [rol]="tipo_user" [datos_user]="user"></app-registrar-cliente>
        </section>
        <!-- Formulario del Vendedor-->
        <section class="registrar-vendedor" *ngIf="isVendedor">
          <app-registrar-vendedor [rol]="tipo_user" [datos_user]="user"></app-registrar-vendedor>
        </section>
      </section>
    </div>
  </div>
</div>
